GOOGLE_API_KEY=
TOGETHER_API_KEY=


# Logging Configuration
LOG_LEVEL=

#MCP Instruments for the agent
MCP_TAVILY_URL =
MCP_ARXIV_URL = 
MCP_TWITTER_APIFY_URL =
MCP_YOUTUBE_URL = 


# Langfuse Configuration
LANGFUSE_SECRET_KEY = 
LANGFUSE_PUBLIC_KEY = 
LANGFUSE_BASE_URL = 
LANGFUSE_PROJECT=


DB_NAME=mcp_deep_research
DB_USER=postgres 
DB_PASSWORD=postgres
DB_PORT=5432

